<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<context:component-scan base-package="restful.spring" />
	<!--
		base-package에 component-scan을 할 패키지 경로를 명시해주면
		해당 경로를 포함한 모든 하위 경로에 적용되고,
		애노테이션을 명시한 자바 파일들이 Bean으로 동록 되어 사용 가능해진다.
	-->

	<bean class="org.springframework.mock.web.MockServletContext" />
</beans>
